@font-face {
    font-family: 'Raleway';
    src: url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;400&display=swap'),
         url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;400;700&display=swap');
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #ffffff;
    color: black;
    font-family: 'Raleway', sans-serif !important;
}

h2 {
    font-size: 20px;
    font-weight: bold;
}

h3 {
    font-size: 16px;
    margin-bottom: 5px;
    font-weight: bold;
}

footer h2 {
    font-size: 16px;
    font-weight: bold;
}

figcaption p {
    font-size: 15px;
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: black;
}

i {
    color: #0065FC;
}

.grey-star {
    color: #F2F2F2;
}

.bold {
    font-weight: bold;
}

main {
    max-width: 1440px;
    margin: auto;
    width: 95%;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 30px;
}

header h1 {
    margin-top: 60px;
}

.Booki-logo {
    height: 70px;
    width: auto;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

nav li {
    list-style-type: none;
    margin-right: 20px;
    margin-left: 50px;
    padding-top: 60px;
    border: 3px solid #ffffff;
}

nav li:hover {
    border-top: 3px solid #0065FC;
    color: #0065FC;
}

nav li a {
    padding-top: 60px;
    padding-left: 15px;
    padding-bottom: 30px;
    padding-right: 15px;
}

nav li a:hover {
    color: #0065FC;
}

#search-section {
    margin-bottom: 30px;
}

.subtitle-search-section {
    margin-top: 10px;
    margin-bottom: 20px;
}

form {
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
}

.input-fas {
    background-color: #F2F2F2;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px 15px 10px 15px;
    border-radius: 10px 0px 0px 10px;
}

div .fa-map-marker-alt {
    font-size: 15px;
    color: black;
}

input {
    height: 40px;
    width: 200px;
    font-size: 15px;
    font-weight: bold;
    padding: 10px;
    border: 1px solid #F2F2F2;
}

.fa-search {
    display: none!important;
}

button {
    width: 100px;
    text-align: center;
    background-color: #0065FC;
    color: #ffffff;
    border: 1px solid #0065FC;
    border-radius: 0px 10px 10px 0px;
    cursor: pointer;
}

#filter {
    max-width: 850px;
    height: 40px;
    margin-bottom: 30px;
    display: flex;
    justify-content: start;
    flex-direction: row;
    align-items: center;
    font-size: 15px;
}

#filter p {
    margin-right: 30px;
}

#filter-categories {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.filter {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 2px solid #F2F2F2;
    border-radius: 50px 50px 50px 50px;
    margin-left: 10px;
}

.filter:hover {
    background-color: #DEEBFF;
    color: #0065FC;
    cursor: pointer;
}

.filter-text {
    margin-left: 10px;
    margin-right: 20px;
    font-weight: bold;
}

.filter .fa-money-bill-wave,
.filter .fa-child,
.filter .fa-heart,
.filter .fa-dog {
    color: #0065FC;
    background-color: #DEEBFF;
    padding: 10px;
    border-radius: 50px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    right: 2px;
}

.filter:hover .fa-money-bill-wave,
.filter:hover .fa-child,
.filter:hover .fa-heart,
.filter:hover .fa-dog {
    color: black;
    background-color: #ffffff;
}

#detail {
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#detail .fa-info {
    margin-right: 10px;
    border: 1px solid #F2F2F2;
    border-radius: 20px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#accommodation-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 30px;
}

#accommodation-list {
    width: 65%;
    background-color: #F2F2F2;
    padding: 3%;
    border-radius: 20px 20px 20px 20px;
}

#accommodations {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

#accommodations a {
    width: 30%;
}

#accommodations figure {
    background-color: #ffffff;
    border-radius: 20px 20px 20px 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 5px;
    box-shadow: 6px 6px 12px #e9e9e9;
    cursor: pointer;
}

#accommodations figure img {
    width: 100%;
    height: 100px;
    object-fit: cover;
    object-position: center;
    border-radius: 20px 20px 0px 0px;
}

#accommodations figure figcaption {
    margin-left: 15px;
    margin-top: 5px;
}

.more {
    margin-top: 20px;
    font-weight: bold;
}

.more:hover {
    text-decoration: underline;
}

aside {
    background-color: #F2F2F2;
    width: 33%;
    background-color: #F2F2F2;
    padding: 3%;
    border-radius: 20px 20px 20px 20px;
}

.aside-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.aside-title .fa-chart-line {
    color: black;
    font-size: 20px;
}

#popular-hostels {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

aside figure {
    width: 100%;
    background-color: #ffffff;
    border-radius: 20px 20px 20px 20px;
    padding: 5px;
    margin-bottom: 20px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    box-shadow: 6px 6px 12px #e9e9e9;
    cursor: pointer;
}

aside figure img {
    height: 120px;
    width: 35%;
    object-fit: cover;
    object-position: center;
    border-radius: 20px 0px 0px 20px;
}

aside figure figcaption {
    width: 65%;
    margin-left: 15px;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

section#recreational-activity {
    margin-top: 10px;
    margin-bottom: 30px;
}

#activities {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 15px;
}

#activities figure {
    width: 280px;
    box-shadow: 6px 6px 12px #e9e9e9;
    border-radius: 20px 20px 20px 20px;
    margin-bottom: 20px;
    cursor: pointer;
}

#activities figure img {
    border-radius: 20px 20px 0px 0px;
}

.horizontal-photos {
    height: 435px;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.verticals-photos img {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    object-fit: cover;
    object-position: center;
}

figure .tallest-cart {
    height: 210px;
    width: 100%;
}

figure .smallest-cart {
    height: 150px;
    width: 100%;
}

#activities figcaption {
    font-weight: bold;
    padding: 15px;
    display: flex;
}

footer {
    background-color: #F2F2F2;
    width: 100%;
    max-width: 1440px;
    margin: auto;
}

.footer-sections {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 200px;
    padding: 30px;
}

.footer-sections div {
    margin-right: 50px;
    font-size: 15px;
    line-height: 30px;
}

footer a:hover {
    text-decoration: underline;
}

@media all and (max-width: 992px) {

    main, .footer-sections {
        max-width: 990px;
        margin: auto;
    }

    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }
    
    header h1 {
        margin-top: 30px;
        text-align: center;
    }
    
    .Booki-logo {
        height: 70px;
        width: auto;
    }

    nav li {
        list-style-type: none;
        margin: auto;
    }

    nav li:active {
        background-color: #0065FC;
    }

    nav li a:active {
        color: #ffffff;
    }

    .fa-search {
        display: none!important;
    }

    #accommodation-section {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        margin-bottom: 30px;
    }

    #accommodation-list {
        width: 100%;
        padding: 3%!important;
    }

    #accommodations {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        margin-top: 10px;
    }

    #accommodations figure {
        margin: 10px;
        width: 240px;
    }
    
    #accommodations figure img {
        width: 100%;
        height: 150px;
        margin-bottom: 10px;
    }

    aside {
        width: 100%;
        margin-bottom: 20px;
    }

    #popular-hostels {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    aside figure {
        display: flex;
        flex-direction: column;
        width: 240px;
    }

    aside figure img {
        width: 100%;
        height: 150px;
        border-radius: 20px 20px 0px 0px;
        margin-bottom: 10px;
    }

    #activities {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
        width: 100%;
        margin-top: 20px;
    }
    
    #activities figure {
        width: 350px;
        margin-right: 20px;
    }
    
    .horizontal-photos {
        height: 435px;
        width: 100%;
        object-fit: cover;
        object-position: center;
    }
    
    .verticals-photos img {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        object-fit: cover;
        object-position: center;
        margin-right: 10px;
    }
    
    figure .tallest-cart {
        height: 210px;
        width: 100%;
    }
    
    figure .smallest-cart {
        height: 150px;
        width: 100%;
    }

    .footer-sections {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 200px;
        padding: 30px 0px 30px 0px;
    }
}

@media all and (max-width: 768px) {

    h2 {
        font-size: 18px;
        margin-bottom: 20px;
        margin-top: 5px;
    }
    
    h3 {
        font-size: 16px;
        margin-bottom: 5px;
    }
    
    h4 {
        font-size: 15px;
    }

    p {
        font-size: 15px;
    }

    main, .footer-sections {
        width: 100%;
        margin: 0px;
        padding: 0px;
    }

    header {
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 0px;    
    }

    .Booki-logo {
        height: 50px;
        margin-top: 10px;
        width: auto;
    }

    nav li {
        width: 50%;
        padding-top: 20px;
        padding-bottom: 10px;
        margin-bottom: 10px;
        border-bottom: 2px solid #F2F2F2;
        text-align: center;
    }

    nav li:hover {
        border-bottom: 2px solid #0065FC;
        border-top: 2px solid #ffffff;
    }

    nav li a {
        margin-left: 0px;
        padding-bottom: 10px;
        padding-top: 10px;
    }
    
    nav li:active {
        color: #0065FC;
        background-color: #ffffff;
        border-bottom: 2px solid #0065FC;
    }

    nav li a:active {
        border-bottom: 2px solid #0065FC;
        color: #0065FC;
        background-color: #ffffff;
    }

    section#search-section {
        padding: 5%;
        margin-bottom: 0px;
    }

    form {
        margin-top: 30px;
        justify-content: center;
    }

    input {
        border: none;
        width: 250px;
    }
    
    #search-bar {
        border: 1px solid #F2F2F2;
        display: flex;
        flex-direction: row;
        border-radius: 0px 10px 10px 0px;
    }

    .fa-search {
        width: 40px;
        height: 40px;
        color: white;
        display: flex!important;
        justify-content: center;
        align-items: center;
        background-color: #0065FC;
        border-radius: 10px;
    }

    button {
        display: none;
    }
    
    #filter {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: 10px;
    }
    
    #filter-categories {
       flex-wrap: wrap;
       margin-top: 5px;
    }
    
    .filter {
        margin-left: 0px;
        margin-right: 10px;
        margin-bottom: 5px;
        margin-top: 5px;
    }

    .filter-text {
        font-size: 13px;
    }

    #detail {
        font-size: 13px;
        margin-bottom: 10px;
        margin-top: 0px;
    }

    #accommodation-section {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        margin-bottom: 0px;
    }

    #accommodation-list {
        margin: 0%;
        padding: 0%;
        background-color: #ffffff;
        width: 100%;
    }

    #accommodations {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin: 0px;
        padding: 0px;
    }

    #accommodations a {
        width: 100%;
    }

    #accommodations figure {
        width: 100%;
        margin: 0%;
        margin-bottom: 10px;
    }

    #accommodations figure img {
        width: 100%;
        height: 120px;
    }
    
    #accommodations figure figcaption {
        margin-bottom: 5px;
        margin-top: 0px;
    }

    .more {
        margin-bottom: 0px;
    }

    aside {
        width: 100%;
        padding: 5%;
        border-radius: 0px;
    }

    .fa-chart-line {
        margin-bottom: 20px;
    }

    aside figure {
        width: 100%;
        display: flex;
        flex-direction: row;
        margin: 0px;
        margin-bottom: 10px;
    }

    aside figure img {
        margin-bottom: 0px;
        width: 45%;
        border-radius: 20px 0px 0px 20px;
    }

    aside figcaption {
        padding: 2%;
    }

    #popular-hostels {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #recreational-activity {
        padding: 5%;
        margin-top: 0px!important;
        margin-bottom: 0px!important;
    }

    #activities {
        display: flex;
        flex-direction: column;
    }

    #activities figure {
        width: 100%;
        margin: 0%;
        margin-bottom: 10px;
    }

    #activities figure img {
        height: 120px;
    }

    .footer-sections {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        height: auto;
        padding: 30px;
    }

    .footer-sections div {
        margin-bottom: 20px;
    }
}